.navigation {
    background: #f1f1f1;
    display: block;
    height: 5.2rem;
    left: 0;
    max-width: 100%;
    position: relative;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 1;
}

.navigation ul li{
    line-height:5.2rem;
}
ul.navigation-list{
    list-style-type:none;
}

ul.navigation-list li{
    display:inline;
    padding-left:30px;
}

    ul.navigation-list li:first-of-type{
        padding-left:0px;
    }

    .navigation-logo img{
        width:auto;
        height:4.2rem;
        margin-top:0.5rem;
    }