 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <h2>About</h2>
                    <hr class="hr-large">
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <p>I've been designing for the web for over 6 years, and absolutely love what I do. I believe that good design is a universal solution, not just the flavor of the month.</p>
                    <p>I currently work at SPARGO, Inc. where I collaborate with a wide array of departments and clients to to get a full understanding of the stakeholder's needs before designing solutions using UI/UX best practices. In addition to the standard design tools like Adobe Creative Suite and Sketch, I also write HTML/CSS and even a little JS on a regular basis in order to provide clickable, and even implementable prototypes and wireframes.</p>
                </div>
                <div class="col-lg-4">
                    <ul>
                        <li><strong>HTML, CSS</strong> <span class="badge badge-light">7 years</span></li>
                        <li><strong>Adobe Suite</strong> <span class="badge badge-light">7 years</span></li>
                        <li><strong>User-Centered Design</strong> <span class="badge badge-light">3 years</span></li>
                        <li><strong>JavaScript</strong> <span class="badge badge-light">4 years</span></li>
                        <li><strong>Rapid Prototyping</strong> <span class="badge badge-light">3 years</span></li>
                        <li><strong>Sketch</strong> <span class="badge badge-light">1.5 years</span></li>
                    </ul>
                </div>
               
            </div>
        </div>
    </section>