    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-text">
                        <div class="intro-wrap">
                            <span class="name">{{ site.title }}</span>
                            <span class="skills">{{ site.skills }}</span>
                            <div class="page-scroll">
                                <a href="#portfolio" class="btn btn-primary">My work</a>
                            </div>
                        </div>
                        
                    </div>
                </div>

            </div>
        </div>
    </header>