 <!-- Portfolio Modals -->
 {% for work in site.categories.works %}
    <div class="portfolio-modal modal" id="portfolioModal-{{ work.modal-id }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="modal-body">
                            <div class="row">
                            <div class="col-lg-8 col-lg-offset-2">
                            <h2>{{ work.title }}</h2>
                            <p>{{ work.description }}</p>
                            </div>
                            </div>
                            <img src="img/portfolio/{{ work.postimg }}" class="img-fluid img-centered" alt="{{ work.alt }}">
                            
                            <ul class="list-inline item-details">
                                <li>Client:
                                    <strong>{{ work.client }}
                                    </strong>
                                </li>
                                <li>Date:
                                    <strong>{{ work.project-date }}
                                    </strong>
                                </li>
                                <li>Service:
                                    <strong>{{ work.category }}
                                    </strong>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}