
	<div class="container">
	<section class="blog-splash" style="background:url('{{ page.img }}') no-repeat;">
		<div class="row justify-content-center">
			<div class="col-sm-8">
			    <h1>{{ page.title }}</h1>
			    <div class="bread-crumbs">
			        <ol class="breadcrumb">
			            <li class="breadcrumb-item"> <a href="{{ site.baseurl }}/">Home</a></li>
			            <li class="breadcrumb-item"><a href="{{ site.baseurl }}/blog/">Blog</a></li>
			            <li  class="breadcrumb-item">{{ page.title }}</li>
			        </ul>
			    </div>
		    </div>
	    </div>
    </section>
	</div>
