
html, body{
    height:100%;
}

body {
    overflow-x: hidden;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    color:#333;
    letter-spacing:0;
    font-weight:300;
}

.small {
    font-size: 0.8em;
}

a,
a:hover,
a:focus,
a:active,
a.active {
    outline: 0;
    color: #{{ site.color.primary }};
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}

hr.hr-large {
    margin: 25px 0 30px;
    padding: 0;
    max-width: 100px;
    border: 0;
    border-top: solid 5px;
    text-align: center;
}

.text-center .hr-large{
    margin:25px auto 30px;
}
.img-centered {
    margin: 0 auto;
}

.mute{
    color:#999;
}
header {
    color: #{{ site.color.secondary-dark }};
    background: #{{ site.color.secondary }};
}

header .container {
    padding-top: 30px;
    padding-bottom: 90px;
}

header img {
    display: block;
    margin: 0 auto 20px;
}

header .intro-text {
    position:relative;
    background:#fff;
    background:url(img/me2.jpg) right no-repeat;
    width:100%;
    background-size:contain;
    min-height:500px;
    font-size:1.2em;
}

.intro-wrap{
    width:60%;
    padding:60px;
    background:#fff;
    position:absolute;
    z-index:99;
    top:60px;
    min-height:470px;
    box-shadow:0 0 0 1px #e4e4e4, 0 0 3rem 0 rgba(0,0,0,0.066);
    animation: 0.5s ease-out 0s 1 slideInFromRight;
}

header .intro-text .name {
    display: block;
    text-transform: uppercase;
    font-weight:bold;
    font-size: 4em;
    font-weight: 700;
    margin-bottom:30px;
    letter-spacing:-0.025em;
}

header .intro-text .skills {
    font-size: 1.25em;
    font-weight: 300;
    color:#999;
}

header .intro-text .btn{
    font-size:1.25em;
    margin-top:30px;
}

@media(max-width:1199px) {
    header .container{
        padding-bottom:120px;
    }
    .intro-wrap{
        min-height:390px;}

    header .intro-text{
        min-height:400px;
    }
    header .intro-text .name{
        font-size:3em;
    }

    header .intro-text .skills{
        font-size:1.1em;
    }

    header .intro-text .btn{
    font-size:1.25em;}

    .intro-wrap{
        width:70%;
        top:90px;
    }

}

@media(max-width:991px) {

    header .container{
        padding-top:15px;
        padding-bottom:120px;
    }

    .intro-wrap{
        top:120px;
        width:80%;
        left:10%;
        min-height:auto;
    }

    header .intro-text{
        background-size:cover;
        border-radius:5px 5px 0 0;
    }
    header .intro-text .name{
        font-size:3em;
    }

    header .intro-text .skills{
        font-size:1.1em;
    }

    header .intro-text .btn{
    font-size:1.1em;
    }
}

@media(max-width:767px) {
    header .container{
        padding-top:15px;
        padding-bottom:140px;
    }
    header .intro-text{
        min-height:320px;
    }
    .intro-wrap{
        top:90px;
        width:90%;
        left:5%;
        min-height:auto;
        padding:30px;
    }

    header .intro-text .name{
        font-size:2.5em;
        line-height:1em;
        padding-bottom:15px;
        margin-bottom:0;
    }

    header .intro-text .skills{
        font-size:0.8em;
        line-height:1.25em;
    }

    header .intro-text .btn{
    font-size:0.9em;
    }
}
.navbar-light{
    padding-left:0;
}

.navbar-light .navbar-nav .nav-link{
    padding-left:1em;
    padding-right:1em;
    font-weight:700;
    color:#{{site.color.secondary-dark}}
}
@media(min-width:768px){
    .navbar-light{
    padding:1em 0;
    }
}
.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover{
    color:#ccc;
}

    .navbar-light .navbar-brand{
        padding:15px;
        background:#333;
        color:#ccc;
        line-height:22px;
        height:50px;
        font-weight:300;
    }

    .navbar-brand span{
        color:#fff;
        font-weight:700;
    }

.navbar a:focus {
    outline: 0;
}

.navbar-light.blog-nav{
    padding-top:15px;
}

@media(max-width:767px){
    .navbar-light.blog-nav{
        padding:5px 0;
    }
}
section {
    padding: 60px 0;
}

section h2 {
    margin: 0;
    font-size: 3em;
}

section.success {
    color: #fff;
    background: #{{ site.color.primary }};
}


section.success ul{
    list-style-type:none;
    text-align:right;
}

section.success ul li{
    padding-bottom:15px;
}

ul li .label{
    margin-left:30px;
}

.label-inverse{
    background:#fff;
    color:#{{ site.color.primary }};
}
@media(max-width:767px) {
    section {
        padding: 30px 0;
    }

    section.first {
        padding-top: 75px;
    }
    header .intro-text .page-scroll{
        text-align:center;
    }
    .btn-primary{
        margin:0 auto;
    }
    .navbar-light{
    padding-bottom:0;
    }
    .navbar-brand{
        height:40px;
        padding:10px;
        line-height:20px;
        margin:8px 15px;
    }

    .navbar-collapse{
        background:#fff;
        position:absolute;
        top:80px;
        left:0;
        right:0;
        z-index:999;
        width:100%;
        box-shadow:rgba(0,0,0,0.5) 50px 50px 50px;
        padding:15px 30px;
    }

}


#portfolio .portfolio-item {
    right: 0;
    margin: 0;
    padding-bottom:30px;
}

#portfolio .portfolio-item .portfolio-link {
    display: block;
    position: relative;
    margin: 0 auto;
}

#portfolio .portfolio-item .portfolio-link .caption {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: rgba({{ site.color.primary-rgb }},.9);
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    transition: all ease .5s;
}

#portfolio .portfolio-item .portfolio-link .caption:hover {
    opacity: 1;
}

#portfolio .portfolio-item .portfolio-link .caption .caption-content {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 20px;
    margin-top: -12px;
    text-align: center;
    font-size: 20px;
    color: #fff;
}

#portfolio .portfolio-item .portfolio-link .caption .caption-content i {
    margin-top: -12px;
}

#portfolio .portfolio-item .portfolio-link .caption .caption-content h3,
#portfolio .portfolio-item .portfolio-link .caption .caption-content h4 {
    margin: 0;
}

#portfolio * {
    z-index: 2;
}
.btn:hover{
    transition:all 0.3s;
}
.btn-primary{
    background: #{{ site.color.primary }};
    border:1px solid transparent;

}

.form-control{
    color:#333;
}

.floating-label-form-group {
    position: relative;
    margin-bottom: 0;
    padding-bottom: .5em;
    border-bottom: 1px solid #333;
}

.floating-label-form-group input,
.floating-label-form-group textarea {
    z-index: 1;
    position: relative;
    padding-right: 0;
    padding-left: 0;
    border: 0;
    border-radius: 0;
    font-size: 1.5em;
    background: 0 0;
    box-shadow: none!important;
    resize: none;
}

.floating-label-form-group label {
    display: block;
    z-index: 0;
    position: relative;
    top: 2em;
    margin: 0;
    font-size: .85em;
    line-height: 1.764705882em;
    vertical-align: middle;
    vertical-align: baseline;
    opacity: 0;
    -webkit-transition: top .3s ease,opacity .3s ease;
    -moz-transition: top .3s ease,opacity .3s ease;
    -ms-transition: top .3s ease,opacity .3s ease;
    transition: top .3s ease,opacity .3s ease;
}

.floating-label-form-group::not(:first-child) {
    padding-left: 14px;
    border-left: 1px solid #ccc;
}

.floating-label-form-group-with-value label {
    top: 0;
    opacity: 1;
}

.floating-label-form-group-with-focus label {
    color: #{{ site.color.primary }};
}

footer {
    color: #fff;
}

footer h3 {
    margin-bottom: 30px;
}

footer .footer-above {
    padding-top: 50px;
    background-color: #{{ site.color.secondary }};
    color: #{{ site.color.secondary-dark }};
}

footer .footer-col {
    margin-bottom: 50px;
}

footer .footer-below {
    padding: 25px 0;
    background-color: #{{ site.color.secondary-dark }};
}

.btn-social {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 2px solid #{{ site.color.primary}};
    border-radius: 100%;
    text-align: center;
    font-size: 20px;
    line-height: 45px;
}

.btn{
    padding:8px 30px;
}

.btn:focus,
.btn:active,
.btn.active {
    outline: 0;
}

.scroll-top {
    z-index: 1049;
    position: fixed;
    right: 2%;
    bottom: 2%;
    width: 50px;
    height: 50px;
}

.scroll-top .btn {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 28px;
    padding:8px 13px;
    color:#333;
    border:1px solid #333;
    background:#fff;
}

.scroll-top .btn:focus, .scroll-top .btn:hover {
    outline: 0;
    color:#fff;
}

.portfolio-modal .modal-content {
    padding: 60px 0;
    min-height: 100%;
    border: 0;
    border-radius: 0;
    text-align: left;
    background-clip: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.portfolio-modal .modal-content h2 {
    margin: 0;
    font-size: 3em;
}

.portfolio-modal .modal-content img {
    margin-bottom: 30px;
}

.portfolio-modal .modal-content .item-details {
    margin: 30px 0;
}

.portfolio-modal .close-modal {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 75px;
    height: 75px;
    background-color: transparent;
    cursor: pointer;
}

.portfolio-modal .close-modal:hover {
    opacity: .3;
}

.portfolio-modal .close-modal .lr {
    z-index: 1051;
    width: 1px;
    height: 75px;
    margin-left: 35px;
    background-color: #{{ site.color.secondary-dark  }};
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.portfolio-modal .close-modal .lr .rl {
    z-index: 1052;
    width: 1px;
    height: 75px;
    background-color: #{{ site.color.secondary-dark  }};
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

/* Blog stuff */
.bread-crumbs{
    padding:15px 0;
    margin:15px auto;
}

.blog-post{
    height:100%;
    transition:all 0.3s;
    display:block;
    color:#{{ site.color.secondary-dark }};
    border: 1px solid transparent;
    padding:15px;
    box-shadow: 0 0 0 1px #e4e4e4, 0 0 3rem 0 rgba(0,0,0,0.066);
    border-radius:4px;
    margin-bottom:30px;
}

.blog-post:hover{
    text-decoration:none;
    box-shadow:none;
    border:1px solid #e4e4e4;
    color:#{{ site.color.secondary-dark }};
}

.blog-post h4{
    margin-top:15px;
}

.blog-post-footer{
    position:absolute;
    height:30px;
    bottom:5px;
    left:30px;
    right:30px;
    font-size:0.8em;
}

.blog-post p{
    font-weight:300;
}
.blog-post strong{
    color:#{{ site.color.secondary-dark }};
}

.blog-post img{
    transition: all 0.3s;
    filter: grayscale(100%) sepia(100%) hue-rotate(180deg);
}

.blog-post:hover img, .blog-post:active img{
    filter:none;
}

.blog-splash{
    background-size:cover !important;
    color:#fff;
    position:relative;
    padding:90px 0;
    margin-bottom:30px;
    background-position:center !important;
}
@media(max-width:768px){
    .blog-splash{
        padding-left:15px;
        padding-right:15px;
    }
}
.blog-splash:before{
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background:rgba(0,0,0,0.3);
    content:'';
}
.blog-splash h1{
    font-size:3.5em;
}

.blog-splash a{
    color:#fff;
    text-decoration:underline;
}

.blog-splash .mute{
    color:#f1f1f1;
}
/* Fix modal mouse wheel issues */
/* https://github.com/twbs/bootstrap/issues/16297 */
.modal{
    animation: 0.3s ease-out 0s 1 slideInFromTop;
}
.modal.show {
    transform: translateZ(0);
    -webkit-transform: translateZ(0);
    animation: 0.3s ease-out 0s 1 slideInFromBottom;
}


@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
