<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>

  {% include nav.html %}

  <div class="splash">
  	<div class="container">
  		<div class="row">
	  		<div class="column">
		  		<h1>Ben Adams</h1>
		  		<p>I'm a UI/UX Designer in the D.M.V. with over 7 years experience. I practice user centered design principles on both web and mobile applications, rapidly prototype, and write HTML, CSS and JS.</p>
	  		</div>
		</div>
  	</div>
  </div>
  	<div class="container">
	      {{content}}
    </div>
  </body>

</html>