<!DOCTYPE html>
<html>
    {% include head.html %}
    <body id="page-top" class="index">
    {% include blognav.html %}
    <section>
    <div class="container">
        <div class="row">
        {% assign post = site.categories.blog | sort: 'date' %}
        {% for post in site.categories.blog  | sort: 'date' %}
            <div class="col-lg-4">
                <a href="../post" class="blog-post">
                        <img src="{{ post.img }}" class="img-responsive" alt="{{ post.alt }}">
                        <h3> {{ post.title  | strip_html | truncatewords:10}}</h3>
                        <p> {{ post.description | strip_html | truncatewords:25}}</p>
                    <span class="mute">
                        {{ post.date | date: '%B %d, %Y' }}
                    </span>
                </a>
            </div>
        {% endfor %}
        </div>
    </div>
    </section>
    {% include footer.html %}
    {% include js.html %}
    </body>
</html>