---
---

html, body{

}

.splash{
	width:100%;
	min-height:50rem;
	background: #222;
	color:#fff;
	padding-top:6rem;
	padding-top:10rem;
}
.splash span{
	color:#666;
}
.splash h1{
	font-size:6em;
	font-weight:700;
	letter-spacing:-0.075em;
    -webkit-margin-start: -0.06em;
}

.top-nav{
	height:6rem;
	width:100%;
	position:absolute;
	top:0;
	width:100%;
	background:#fff;
}

.top-nav ul{
	line-height:6rem;
}

.nav-logo img{
	width:auto;
	height:5rem;
	padding:0.5rem 0;
}

ul.list-inline{
	list-style-type:none;
}
	.list-inline li{
		display:inline-block;
		padding-left:30px;
	}
		.list-inline li:first-of-type{
		padding-left:0px;
		}